[Unit]
Description=Change wallpaper using SWWW
After=swww.service

[Service]
ExecStart=/usr/bin/bash /home/vamshi/.config/swww/swww.sh

[Install]
WantedBy=default.target
